@mixin prototype-font-light {
	.ui.type.light {
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 400;
	}
}

@mixin prototype-font-regular {
	body, .ui.type.regular {
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 500;
	}
}

@mixin prototype-font-bold {
	.ui.type.bold {
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 600;
	}
}
